@import 'compass/utilities';
@import 'compass/css3';

body {
  background: #00000d url('../images/bg.jpg') no-repeat;
  background-size: cover;
  padding: 40px 0;
  -webkit-perspective: 1000px;
}

#main_box {
  position: relative;
  background: url('../images/potter.jpg') center no-repeat;
  width: 800px;
  min-height: 1480px;
  @include box-shadow(#fff 0 0 100px);
  -webkit-transform: rotateY( 45deg );
}

#main_box.rollback {
  @include transition(all 1s ease-in-out);
  -webkit-transform: rotateY( 0 );
}

#main_box > .pic-1 {
  position: relative;
  top: 503px;
  left: 218px;
  width: 570px;
  height: 267px;
  overflow: hidden;
}

.pic-1 > img {
  position: absolute;
  width: 100%;
  left: 0;
}

.pic-1 > img.gif {
  display: none;
}

.pic-2 {
  position: relative;
  width: 274px;
  height: 198px;
  left: 510px;
  top: 640px;
  overflow: hidden;
}

.pic-2 > img {
  position: absolute;
  width: 100%;
  left: 0;
}

.pic-2 > img.gif {
  display: none;
}
